body {
    background-color: #55ca1a;
} 
body{
    font-family: 'Poppins', sans-serif;
}



.copas {
    color: wheat;
    display: grid;
    grid-template-columns: 75%  25%; }

.copas img {
    width: 100%;
}

.cabeçalho{
    background-color: #FFFF00;
    font-family: 'Castoro Titling', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Schibsted Grotesk', sans-serif;
     color: blue;
}
.cabeçalho{
    margin-top: 50px;
    display: flex ;
    justify-content: center;
    
}
.rodape{
  text-align: center;
}
.rodape img{
    width: 10%;
}

.navbar {
    overflow: hidden;
    background-color: #030124;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }