* {
  background-color: #419e12;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
} 

.copas {
  color: wheat;
  display: grid;
  grid-template-columns: 75% 25%;
}

.copas img {
  width: 100%;
}

.cabeçalho {
  background-color: yellow;
  font-family: 'Castoro Titling', cursive;
  color: blue;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.cabeçalho h1 {
  background-color: yellow;
  font-size: 40px;
}

.rodape {
  text-align: center;
}

.rodape img {
  width: 10%;
}

.navbar {
  overflow: hidden;
  background-color: #419e12;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Responsividade para dispositivos móveis */
@media only screen and (max-width: 768px) {
  .copas {
      display: block;
  }

  .copas img {
      width: 100%;
  }

  .cabeçalho h1 {
      font-size: 28px;
  }

  .navbar {
      position: static;
      width: auto;
  }

  .navbar a {
      float: none;
      display: inline-block;
  }

  .navbar a:hover {
      background: none;
      color: black;
  }
}