body {
    background-color: #55ca1a;
} 
body{
    font-family: 'Poppins', sans-serif;
}



.copade58 {
    color: wheat;
    display: grid;
    grid-template-columns: 75%  25%; }

.copade58 img {
    width: 100%;
}

.copade62{
    color: white;
    display: grid;
    grid-template-columns: 75%  25%;}
.copade62 img { 
    width: 100%;
}
.copade70{
    color: wheat;
    display: grid;
    grid-template-columns: 75%  25%; }
.copade70 img {
    width: 100%;
}

.copade94{
    color: wheat;
    display: grid;
    grid-template-columns: 75%  25%;}
.copade94 img {
    width: 100%;
}

.copade02{
    color: wheat;
    display: grid;
    grid-template-columns: 75%  25%}
.copade02 img {
    width: 100%;
}
.cabeçalho{
    background-color: #FFFF00;
    font-family: 'Castoro Titling', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Schibsted Grotesk', sans-serif;
     color: blue;
}
.cabeçalho{
    display: flex ;
    justify-content: center;
    
}
.rodape{
  text-align: center;
}
.rodape img{
    width: 10%;
}